project:
  type: website
  output-dir: Comp Bio Lab 2

website: 
  title: "Comp Bio Webpage Spring 2026"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



